In [8]:
# 1
import pandas as pd
import seaborn as sns
import numpy as np
iris = sns.load_dataset("iris")
iris_x = iris.loc[:,['sepal_length', 'sepal_width',
            'petal_length', 'petal_width']]
import random
random.seed(1)
for col in range(4):
    iris_x.iloc[[random.sample(range(len(iris)), 20)], col] = float('nan')
iris_x.head(10)

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          NaN           1.3          0.2
3           4.6          3.1           1.5          NaN
4           5.0          3.6           1.4          0.2
5           5.4          NaN           1.7          0.4
6           4.6          NaN           1.4          0.3
7           NaN          NaN           1.5          NaN
8           4.4          2.9           NaN          0.2
9           4.9          3.1           1.5          0.1

In [9]:
# (1)

iris_x.head(10).dropna(axis=0)

   sepal_length  sepal_width  petal_length  petal_width
1           4.9          3.0           1.4          0.2
4           5.0          3.6           1.4          0.2
9           4.9          3.1           1.5          0.1

In [12]:
# (2)


iris_x.head(10).dropna(axis=0)

   sepal_length  sepal_width  petal_length  petal_width
1           4.9          3.0           1.4          0.2
4           5.0          3.6           1.4          0.2
9           4.9          3.1           1.5          0.1

In [31]:
# (3)
df_thresh = iris_x.head(11).dropna(axis=0, thresh=3)
display(df_thresh)

    sepal_length  sepal_width  petal_length  petal_width
0            NaN          3.5           1.4          0.2
1            4.9          3.0           1.4          0.2
2            4.7          NaN           1.3          0.2
3            4.6          3.1           1.5          NaN
4            5.0          3.6           1.4          0.2
5            5.4          NaN           1.7          0.4
6            4.6          NaN           1.4          0.3
8            4.4          2.9           NaN          0.2
9            4.9          3.1           1.5          0.1
10           5.4          3.7           1.5          0.2

In [ ]:
# (4)

In [ ]:
# (5)

In [ ]:
# (6)

In [ ]:
# (7)

In [54]:
# 2. Timestamp 배열의 생성
# (1)
import pandas as pd

ts_ms = pd.date_range(start='2021-04-05',    # 날짜 범위의 시작
                   end='2021-04-27',  freq='D')
print(ts_ms)

DatetimeIndex(['2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
               '2021-04-09', '2021-04-10', '2021-04-11', '2021-04-12',
               '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-20',
               '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26', '2021-04-27'],
              dtype='datetime64[ns]', freq='D')

In [42]:
# (2)

import pandas as pd

pr_61 = pd.period_range(start='2021-04-05',    # 날짜 범위의 시작
                   end=None,                   # 날짜 범위의 끝
                   periods=61,                  # 생성할 Period 개수
                   freq='D')                  # 기간의 길이 (H: 시간)
print(pr_61)

PeriodIndex(['2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
             '2021-04-09', '2021-04-10', '2021-04-11', '2021-04-12',
             '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
             '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-20',
             '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
             '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
             '2021-04-29', '2021-04-30', '2021-05-01', '2021-05-02',
             '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06',
             '2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
             '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14',
             '2021-05-15', '2021-05-16', '2021-05-17', '2021-05-18',
             '2021-05-19', '2021-05-20', '2021-05-21', '2021-05-22',
             '2021-05-23', '2021-05-24', '2021-05-25', '2021-05-26',
             '2021-05-27', '2021-05-28', '2021-05-29', '2021-05-30',
             '2021-05-31', '2021-06-01', '2021-06-02', '2021-06-03',
             '2021-06-04'],
            dtype='period[D]', freq='D')

In [45]:
# (3)

import pandas as pd

ts_me = pd.date_range('2021-01-01', periods=12, 
                   freq='M')       # 시간대(timezone)
print(ts_me)

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

In [56]:
# (4)

import pandas as pd

ts_ms = pd.date_range('2021-01-01', periods=12, 
                   freq='MS')       # 시간대(timezone)
print(ts_ms)

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [59]:
# (5)

import pandas as pd

pr_time = pd.period_range(start='2021-04-05',    # 날짜 범위의 시작
                   end='2021-04-09',                   # 날짜 범위의 끝
                    freq='H')                  # 기간의 길이 (H: 시간)
print(pr_time)

PeriodIndex(['2021-04-05 00:00', '2021-04-05 01:00', '2021-04-05 02:00',
             '2021-04-05 03:00', '2021-04-05 04:00', '2021-04-05 05:00',
             '2021-04-05 06:00', '2021-04-05 07:00', '2021-04-05 08:00',
             '2021-04-05 09:00', '2021-04-05 10:00', '2021-04-05 11:00',
             '2021-04-05 12:00', '2021-04-05 13:00', '2021-04-05 14:00',
             '2021-04-05 15:00', '2021-04-05 16:00', '2021-04-05 17:00',
             '2021-04-05 18:00', '2021-04-05 19:00', '2021-04-05 20:00',
             '2021-04-05 21:00', '2021-04-05 22:00', '2021-04-05 23:00',
             '2021-04-06 00:00', '2021-04-06 01:00', '2021-04-06 02:00',
             '2021-04-06 03:00', '2021-04-06 04:00', '2021-04-06 05:00',
             '2021-04-06 06:00', '2021-04-06 07:00', '2021-04-06 08:00',
             '2021-04-06 09:00', '2021-04-06 10:00', '2021-04-06 11:00',
             '2021-04-06 12:00', '2021-04-06 13:00', '2021-04-06 14:00',
             '2021-04-06 15:00', '2021-04-06 16:00', '2021-04-06 17:00',
             '2021-04-06 18:00', '2021-04-06 19:00', '2021-04-06 20:00',
             '2021-04-06 21:00', '2021-04-06 22:00', '2021-04-06 23:00',
             '2021-04-07 00:00', '2021-04-07 01:00', '2021-04-07 02:00',
             '2021-04-07 03:00', '2021-04-07 04:00', '2021-04-07 05:00',
             '2021-04-07 06:00', '2021-04-07 07:00', '2021-04-07 08:00',
             '2021-04-07 09:00', '2021-04-07 10:00', '2021-04-07 11:00',
             '2021-04-07 12:00', '2021-04-07 13:00', '2021-04-07 14:00',
             '2021-04-07 15:00', '2021-04-07 16:00', '2021-04-07 17:00',
             '2021-04-07 18:00', '2021-04-07 19:00', '2021-04-07 20:00',
             '2021-04-07 21:00', '2021-04-07 22:00', '2021-04-07 23:00',
             '2021-04-08 00:00', '2021-04-08 01:00', '2021-04-08 02:00',
             '2021-04-08 03:00', '2021-04-08 04:00', '2021-04-08 05:00',
             '2021-04-08 06:00', '2021-04-08 07:00', '2021-04-08 08:00',
             '2021-04-08 09:00', '2021-04-08 10:00', '2021-04-08 11:00',
             '2021-04-08 12:00', '2021-04-08 13:00', '2021-04-08 14:00',
             '2021-04-08 15:00', '2021-04-08 16:00', '2021-04-08 17:00',
             '2021-04-08 18:00', '2021-04-08 19:00', '2021-04-08 20:00',
             '2021-04-08 21:00', '2021-04-08 22:00', '2021-04-08 23:00',
             '2021-04-09 00:00'],
            dtype='period[H]', freq='H')

In [62]:
# (6)

import pandas as pd

pr_time = pd.period_range(start='2021-04-01',    # 날짜 범위의 시작
                   end='2021-04-27',                   # 날짜 범위의 끝
                    freq='3H')                  # 기간의 길이 (H: 시간)
print(pr_time)

PeriodIndex(['2021-04-01 00:00', '2021-04-01 03:00', '2021-04-01 06:00',
             '2021-04-01 09:00', '2021-04-01 12:00', '2021-04-01 15:00',
             '2021-04-01 18:00', '2021-04-01 21:00', '2021-04-02 00:00',
             '2021-04-02 03:00',
             ...
             '2021-04-25 21:00', '2021-04-26 00:00', '2021-04-26 03:00',
             '2021-04-26 06:00', '2021-04-26 09:00', '2021-04-26 12:00',
             '2021-04-26 15:00', '2021-04-26 18:00', '2021-04-26 21:00',
             '2021-04-27 00:00'],
            dtype='period[3H]', length=209, freq='3H')

In [67]:
# (7)

import pandas as pd

pr_2m = pd.period_range(start='2021-01-31',    # 날짜 범위의 시작
                          periods = 8,
                          freq='2M')                  # 기간의 길이 (H: 시간)
print(pr_2m)

PeriodIndex(['2021-01', '2021-03', '2021-05', '2021-07', '2021-09', '2021-11',
             '2022-01', '2022-03'],
            dtype='period[2M]', freq='2M')

In [105]:
# 3. product_click.log 파일을 읽어 데이터프레임 객체 생성
import pandas as pd

# read_csv() 함수로 파일 읽어와서 df로 변환
df = pd.read_csv('data/product_click_new.log', header =None, sep = " ")

print(df.head(5))
print(df.info())

              0     1
0  201612120944  p001
1  201612120944  p003
2  201612120944  p003
3  201612120945  p008
4  201612121052  p008
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       310 non-null    int64
 1   1       310 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.0+ KB
None

In [ ]:
# (1)

In [ ]:
# (2)

In [ ]:
# (3)

In [ ]:
# (4)

In [ ]:
# (5)